$primary: #000000;
$secondary: #ACACAF;
$body-bg: #fff;
$help-box-bg-color: #F1F2F7;
$white: #fff;
$button-high: #ED1C24;
$button-average: #82DC93;
$button-low: #FFAA00;
$button-medium: #6781E2;
$button-address: #ED1C24;
$issue-status: #6781E2;
$msg-send: #F1F2F6;
$msg-input-send: #BEC2CE;
$input-search: #BEC2CE;
$chat-bg: #F1F2F7;
$font-family: 'Roboto', sans-serif;